.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 32px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.entry-content {
    margin: 8px 0;
    color: var(--primary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}